@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 20px;
    font-family: 'Open Sans';
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 20px;
}

.container {
    display: block;
}

table {
    width: 500px;
    font-size: 1.4rem;
    border-collapse: collapse;
}

th, td {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
    -webkit-animation-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
}

th, td {
    height: 25px;
    border: 1px solid #888;
    cursor: cell;
    padding: 5px;
}

td {
    background-color: #eee;
}


    td:hover {
        background-color: rgba(245, 245, 245, 0.3);
    }


thead th {
    background-color: #7a91ff;
    color: black;
}

    thead th:hover {
        background-color: rgba(122, 145, 255, 0.7);
    }

tbody th {
    background-color: rgba(255, 216, 0, 1);
}

    tbody th:hover {
        background-color: rgba(255, 216, 0, 0.7);
    }

