@import url('https://fonts.googleapis.com/css?family=Exo+2');

.s-cm {
    display: none;
    font-family: 'Exo 2';
}

    .s-cm,
    .s-cm ul {
        margin: 0;
        padding: 2px;
        position: absolute;
        background: #f3f3f3;
        border: 1px solid #aaa;
        border-radius: 2px;
        box-shadow: 2px 2px 2px #777;
        font-size: 1.3rem;
    }

        .s-cm ul {
            display: none;
            list-style: none;
            left: 100%;
            margin-top: -3.5rem;
            margin-left: -4px;
        }

        .s-cm li {
            list-style: none;
            min-width: 150px;
        }

.s-cm-header {
    min-width: 150px;
    font-size: 1.25rem;
    color: #03449f;
    text-shadow: -1px -1px 0 #fff, 0 0 1px #333;
    font-weight: 600;
    padding: 5px 0 5px 5px !important;
}

.s-cm ul > li {
    margin: 0;
    padding: 0;
}

.s-cm li > a {
    margin: 0;
    display: block;
    padding: 0 2rem 0 0.2rem;
    text-decoration: none;
    width: auto;
    color: black;
    white-space: nowrap;
    line-height: 3.2rem;
    text-shadow: 1px 1px 0 white;
    border-radius: 1px;
    /*-webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;*/
}

    .s-cm li > a:hover {
        /*margin: 0 -2px;*/
    }

.s-cm a:hover,
.s-cm-a-hovered {
    background-color: #dae0e9;
    box-shadow: 0 0 2px #777;
    position: relative;
}

.s-cm-a-hovered {
    /*margin-right: 2px;*/
    /*-webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;*/
}

.s-cm li > a > i {
    text-decoration: none;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 2px 3px 0;
    background: transparent;
    vertical-align: middle;
    text-align: center;
}

.s-cm-separator-pic {
    display: inline-block;
    width: 1px;
    height: 3.2rem;
    background: white;
    margin: 0 0.5em 0 0;
    border-left: 1px solid #e2e3e3;
}

.s-cm-separator > a,
.s-cm-separator > a:hover {
    background: white;
    border: 0;
    border-top: 1px solid #e2e3e3;
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    padding: 0 !important;
    margin: 0 0 0 2.8rem !important;
    border-left: 1px solid #e0e0e0;
    text-shadow: 0 0 0 transparent !important;
    box-shadow: 0 0 0 transparent !important;
    border-radius: 0 !important;
    cursor: default;
}


.s-cm-separator-header-before > a,
.s-cm-separator-header-after > a {
    height: 0;
    cursor: default;
}

    .s-cm-separator-header-before > a,
    .s-cm-separator-header-before > a:hover {
        border-bottom: 1px solid #fff;
        box-shadow: 0 -1px 0 #ddd;
    }

    .s-cm-separator-header-after > a,
    .s-cm-separator-header-after > a:hover {
        border-top: 1px solid #ddd;
        box-shadow: 0 1px 0 #fff;
    }

.s-cm-parent,
.s-cm-parent:hover {
    background-image: url(data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==);
    background-position: right center;
    background-repeat: no-repeat;
}

    .s-cm-parent ul {
        position: relative;
    }

.s-cm-disabled,
.s-cm-disabled:hover {
    color: silver !important;
    background-color: transparent !important;
    border: 0;
    box-shadow: none !important;
    cursor: not-allowed;
}

.s-cm-danger {
    color: #ff0000;
    cursor: pointer;
}

.s-cm-effect-transfer {
    border: 2px dotted gray;
    background-color: rgba(180, 180, 180, 0.1);
}

.s-cm-target {
    background-color: #fffd89 !important;
    color: #333 !important;
}

.s-cm-headline {
    padding: 6px;
    border-bottom: 1px solid #ddd;
    margin: 0 -2px;
    color: #2244ee;
    font-weight: 700;
    text-shadow: #999 0 0 3px, #fff -1px -1px 1px;
}

.s-cm input[type="text"],
.s-cm select {
    padding: 5px;
    border: 1px solid #aaa !important;
    border-radius: 3px;
    width: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Exo 2';
}

.s-cm select {
    width: 100%;
    cursor: pointer;
}


    .s-cm input[type="text"]:hover,
    .s-cm select:hover {
        box-shadow: #36d9fe 0 0 3px;
    }

.s-cm-checkbox {
    border: 1px solid #aaa !important;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    padding: 3px 0 0;
}

    .s-cm-checkbox div:first-child {
        float: left;
        margin: 2px;
    }

        .s-cm-checkbox div:first-child > span {
            font-weight: 700;
            -webkit-transition-duration: 200ms;
            -moz-transition-duration: 200ms;
            -o-transition-duration: 200ms;
            transition-duration: 200ms;
        }

    .s-cm-checkbox div:nth-child(2) {
        float: right;
        margin: 0 2px 0;
    }
/*#region Togglebutton */

/* Togglebutton von https://codepen.io/mallendeo/pen/eLIiG?editors=1100 */

.s-cm-tgl {
    display: none;
}

    .s-cm-tgl,
    .s-cm-tgl:after,
    .s-cm-tgl:before,
    .s-cm-tgl *,
    .s-cm-tgl *:after,
    .s-cm-tgl *:before,
    .s-cm-tgl + label {
        box-sizing: border-box;
    }

        .s-cm-tgl::-moz-selection,
        .s-cm-tgl:after::-moz-selection,
        .s-cm-tgl:before::-moz-selection,
        .s-cm-tgl *::-moz-selection,
        .s-cm-tgl *:after::-moz-selection,
        .s-cm-tgl *:before::-moz-selection,
        .s-cm-tgl + label::-moz-selection {
            background: none;
        }

        .s-cm-tgl::selection,
        .s-cm-tgl:after::selection,
        .s-cm-tgl:before::selection,
        .s-cm-tgl *::selection,
        .s-cm-tgl *:after::selection,
        .s-cm-tgl *:before::selection,
        .s-cm-tgl + label::selection {
            background: none;
        }

        .s-cm-tgl + label {
            font-size: 1.2rem;
            outline: 0;
            display: inline-block;
            width: 4rem;
            height: 2rem;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .s-cm-tgl + label:after,
            .s-cm-tgl + label:before {
                position: relative;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
            }

            .s-cm-tgl + label:after {
                left: 0;
            }

            .s-cm-tgl + label:before {
                display: none;
            }

        .s-cm-tgl:checked + label:after {
            left: 50%;
        }

.s-cm-tgl-slide + label {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .2s ease;
    font-family: sans-serif;
    background: #bbb;
    border-radius: 4px;
    box-shadow: inset 0px 0px 3px #333
}

    .s-cm-tgl-slide + label:after,
    .s-cm-tgl-slide + label:before {
        display: inline-block;
        transition: all .2s ease;
        width: 100%;
        text-align: center;
        position: absolute;
        line-height: 1.7em;
        font-weight: bold;
        color: #eee;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }

    .s-cm-tgl-slide + label:after {
        left: 100%;
        content: attr(data-toggle-on);
    }

    .s-cm-tgl-slide + label:before {
        left: 0;
        content: attr(data-toggle-off);
    }

    .s-cm-tgl-slide + label:active {
        background: #aaa;
    }

        .s-cm-tgl-slide + label:active:before {
            left: -10%;
        }

.s-cm-tgl-slide:checked + label {
    background: #46d35c;
}

    .s-cm-tgl-slide:checked + label:before {
        left: -100%;
    }

    .s-cm-tgl-slide:checked + label:after {
        color: #fff;
        left: 0;
    }

    .s-cm-tgl-slide:checked + label:active:after {
        left: 10%;
    }

.s-cm-tgl-light + label {
    background: #fe7a7a;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
}

    .s-cm-tgl-light + label:after {
        border-radius: 50%;
        background: #fff;
        transition: all .2s ease;
    }

.s-cm-tgl-light:checked + label {
    background: #48d970;
}

.s-cm-tgl-ios + label {
    background: #fe7a7a;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
}

    .s-cm-tgl-ios + label:after {
        border-radius: 2em;
        background: #fbfbfb;
        transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    }

    .s-cm-tgl-ios + label:hover:after {
        will-change: padding;
    }

    .s-cm-tgl-ios + label:active {
        box-shadow: inset 0 0 0 2em #e8eae9;
    }

        .s-cm-tgl-ios + label:active:after {
            padding-right: .8em;
        }

.s-cm-tgl-ios:checked + label {
    background: #48d970;
}

    .s-cm-tgl-ios:checked + label:active {
        box-shadow: none;
    }

        .s-cm-tgl-ios:checked + label:active:after {
            margin-left: -.8em;
        }

.s-cm-tgl-flat + label {
    padding: 2px;
    transition: all .2s ease;
    background: #fff;
    border: 4px solid #fe7a7a;
    border-radius: 2em;
}

    .s-cm-tgl-flat + label:after {
        transition: all .2s ease;
        background: #fe7a7a;
        content: "";
        border-radius: 1em;
    }

.s-cm-tgl-flat:checked + label {
    border: 4px solid #46d35c;
}

    .s-cm-tgl-flat:checked + label:after {
        left: 50%;
        background: #46d35c;
    }

.s-cm-tgl-flip + label {
    padding: 2px;
    transition: all .2s ease;
    font-family: sans-serif;
    -webkit-perspective: 100px;
    perspective: 100px;
}

    .s-cm-tgl-flip + label:after, .s-cm-tgl-flip + label:before {
        display: inline-block;
        transition: all .4s ease;
        width: 100%;
        text-align: center;
        position: absolute;
        line-height: 1.7em;
        font-weight: bold;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 4px;
    }

    .s-cm-tgl-flip + label:after {
        content: attr(data-toggle-on);
        background: #46d35c;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .s-cm-tgl-flip + label:before {
        background: #fe7a7a;
        content: attr(data-toggle-off);
    }

    .s-cm-tgl-flip + label:active:before {
        -webkit-transform: rotateY(-20deg);
        transform: rotateY(-20deg);
    }

.s-cm-tgl-flip:checked + label:before {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.s-cm-tgl-flip:checked + label:after {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    left: 0;
    background: #46d35c;
}

.s-cm-tgl-flip:checked + label:active:after {
    -webkit-transform: rotateY(20deg);
    transform: rotateY(20deg);
}

/*#endregion */
